<%- include("partials/header") %>

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href = "/" style = "font-family: 'Chilanka', cursive;">Home Page</a>
</nav>	

<div class = "container">
	<div class = "jumbotron">
		<h3>
			Not a valid username ...
		</h3>
		
	</div>
	
	
</div>


<%- include("partials/footer") %>
