<%- include("partials/header") %>



<form action = "/information" method = "GET">
	<input type = "username" name = "username" placeholder = "username"  >
	<button type="button" class="btn btn-primary">Submit</button>

</form>


































<%- include("partials/footer") %>