
<!DOCTYPE html>
<html>
	<head>
		<title>Codeforces App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@646;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Rowdies:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Rowdies:wght@700&family=Sriracha&display=swap" rel="stylesheet">
		<link rel= "stylesheet" href ="/app.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
		<style>
			body{
					background : url(https://images.unsplash.com/photo-1596172460950-ab0471c9f73c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80) ;
				background-size : cover ;
				background-position : center ;

			}
		</style>
	</head>
	<body>




<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href = "/" style = "font-family: 'Chilanka', cursive;">Home Page</a>
  <form class="form-inline" action = "/information" method = "GET">
    <input class="form-control mr-sm-2" type = "username" placeholder = "username" name = "username" aria-label="username" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  </form>
</nav>

<div class = "container">
	<div id = "content">
		<div class="row">
	  		<h1 class="col-lg-12">CF-Help</h1>
			<h4 class="col-lg-12">
				The one stop place to practice and get better at competitive programming .
			</h4>
		</div>
	</div>
</div>

<div class = "container">
	<div id = "contenta">
		<h1>
			Description 
		</h1>
		<div class="row">
			<p class="col-lg-12" style = "font-weight : 100">
				A web application by <strong>Adarsh Prakash Agarwal </strong>, where you can know your rating , track your progress using rating curve,  				solve problems of your desired difficulty level and take part in virtual contests provided by codeforces . 
				This application is one solution , to help save your time in searching unparticipated virtual contests or unsolved problems and 					helps you in getting better .  
			</p>
		</div>
	</div>
</div>























<!-- <form action = "/information" method = "GET">
	<input type = "username" placeholder = "username" name = "username" class="form-control">
	<button type="submit" class="btn btn-primary">Submit</button>

</form> -->












<%- include("partials/footer") %> 